.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #ffffff;
  line-height: 35px;
  transition: color 0.3s;

  &:hover {
    color: #DC3850;
  }
}