.brandsList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.brand {
  margin: 0 5px 5px 0;
  padding: 5px;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
  }
}

.active {
  color: red;
  border: 1px solid red;
}